.game-classify-page{
  .plr-30{
    padding-left: 30px;
    padding-right: 30px;
  }
  .triangle{
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right-color: #1363e8;
    border-bottom-color: #1363e8;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .edge-icon{
    position: absolute;
    width: 24px;
    height: 24px;
    background:url("../../assets/gou22.svg") no-repeat;
    background-size: 24px;

  }
  //gou
  .all-box{
    height: 160px;
    padding: 30px;
    .sub{
      height: 100px;
      border: 1px solid #1363e8;
      text-align: center;
      line-height: 100px;
      position: relative;
      
    }
  }
  .title{
    padding-left: 30px;
    height: 54px;
    font-size: 24px;
    padding-top: 20px;
    color: #999;
    background: #f7f7f7;
  }
  .game-warp{
    padding: 20px 30px;
  }
  .game-list{
    border-left : 1px solid #bfbfbf;
    border-top : 1px solid #bfbfbf;
    overflow: hidden;
    .game-item{
      position:relative;
      width: 33.33333333333%;
      height: 100px;
      line-height: 100px;
      text-align: center;
      color: #666;
      font-size: 24px;
      float: left;
      border-bottom: 1px solid #bfbfbf;
      border-right: 1px solid #bfbfbf;
    }
  }

}
